.add-list {
  .add-list__popup {
    position: relative;
    width: 235px;
    height: 150px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .05);
    padding: 18px;
    top: -25px;
    left: 10px;
  }

  .button {
    width: 100%;
    margin-top: 15px;
  }

  .badge {
    width: 16px;
    height: 16px;
    cursor: pointer;
    border: 2px solid transparent;
    &.active {
      border: 2px solid #525252;
    }
  }

  .add-list__popup-colors {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
  }

  .add-list__popup-close-btn {
    position: absolute;
    right: -8px;
    top: -8px;
    cursor: pointer;

  }
}